<br><br><br><br><br><br>
<div class="container">
<h1>Editar Cliente:</h1>
<hr>

<%= render 'form', cliente: @cliente %>
<br>

<%= link_to 'Mostrar', @cliente %> |
<%= link_to 'Voltar', clientes_path %>
</div>
