<br><br><br><br><br><br>
<div class="container">
<h1>Novo Pedido Produto:</h1>
<hr>

<%= render 'form', pedido_produto: @pedido_produto %>
<br><br>

<%= link_to 'Voltar', pedido_pedido_produtos_path(@pedido), :class => "btn btn-primary" %>

</div>
