<br><br><br><br><br><br>
<div class="container">
<h1>Editar Fornecedor:</h1>
<hr>

<%= render 'form', fornecedor: @fornecedor %>
<br>

<%= link_to 'Mostrar', @fornecedor, :class => "btn btn-primary" %> 
<%= link_to 'Voltar', fornecedors_path, :class => "btn btn-primary" %>
<br><br>
</div>
