<br><br><br><br><br>
 <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Money Control App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
      Seu app de caixa inteligente, dinâmico e flexível, no formato de aplicação de web, 
      onde você pode acompanhar seu caixa 24 horas, de qualquer lugar.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 75vh;">
      <div class="container px-5">
       <%= image_tag 'mobile-app.jpg' =%>
      </div>
    </div>
  </div>
  <br><br>