<br><br><br><br><br><br>
<div class="container">
<h1>Editing Pedido</h1>
<hr>

<%= render 'form', pedido: @pedido %>
<br>

<%= link_to 'Mostrar', @pedido %> |
<%= link_to 'Voltar', pedidos_path %>
</div>
