<br><br><br><br><br><br>
<div class="container">
<h1>Nova Receita:</h1>
<hr>

<%= render 'form', faturamento: @faturamento %>
<br><br>

<%= link_to 'Voltar', faturamentos_path, :class => "btn btn-primary" %>
</div>