<br><br><br><br><br><br>
<div class="container">
<h1>Novo Produto:</h1>
<hr>

<%= render 'form', produto: @produto, :class => "btn btn-primary" %>
<br><br>
<%= link_to 'Voltar', produtos_path, :class => "btn btn-primary" %>

</div>
<br>